@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-gray-800 font-sans;
}
/* Hide scrollbar for all scrollable sections */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
